.class-evenement-line {
	clear: both;
	border-bottom: 1px solid #ddd6e4;
	margin: 0 10px;
	margin-bottom: 10px;
}

.class-evenement-line .date {
	text-align: right;
	font-size: 95%;
	color: #3b82e5;
}

.class-evenement-line h2 {
	font-size: 120%;
	color: #ffa600;
	font-weight: bold
}

.class-evenement-line img {
	float: left;
	margin-right: 10px;
}

.class-evenement-line .category {
	font-size: 95%;
}

.class-evenement-line a.more {
	float: right;
	color: #715c95;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 90%;
}

.class-evenement-line .attribute-lieu {
	color: #8ebd21;
	font-size: 95%;
	font-weight: bold;
}

.class-evenement-line p {
	font-size: 95%;
}

.class-evenement-full {
	padding: 0 10px;
}

.class-evenement-full p {
	text-align: justify;
}

.class-evenement-full p.attribute-description-courte{
    color: #715c95;
}

.class-evenement-full img {
	float: left;
	margin-right: 10px;
	display: block;
}

.class-evenement-full .date,
.class-evenement-full .horaires {
	font-size: 95%;
	color: #00573F;
}

.class-evenement-full .attribute-lieu {
	color: #767676;
	font-size: 95%;
	font-weight: bold;
	margin-bottom: 10px;
	display: block;
}

.class-evenement-full attribute.texte {
	text-align: justify;
	clear: both;
}

.class-evenement-full .tarifs {
	margin-top: 10px;
}

.class-evenement-full .tarifs li {
	list-style: none;
}

.class-secteur-activite-full {
	margin-bottom: 10px;
}

.class-secteur-activite-full h3 {
	margin: 0 10px;
	font-weight: bold;
}

.class-secteur-activite-full h3 a {
	color: #006148
}

.class-adresse-annuaire-line {
	clear: both;
	padding: 5px 0;
	margin: 0 10px;
	border-bottom: 1px solid #ddd6e4;
}

.class-adresse-annuaire-line a {
	color: #715c95;
}

.class-adresse-annuaire-line a:hover {
	text-decoration: underline; 
}

.class-adresse-annuaire-line .attribute-raison-sociale {
	font-weight: bold;
}

.class-secteur-activite-sidebarlist {
	list-style: none;	
}

.class-secteur-activite-sidebarfull {
	padding-left: 15px;
	margin-top: 5px;
}

.class-page-contenu-full {
	margin: 0 10px;
	text-align: justify;
	color: #767676;
	font-size: 95%;
}

.class-bloc-contenu-line {
	margin-bottom: 1em;
}

.class-bloc-contenu-line p{
	padding: .5em 0;
}

.class-bloc-contenu-line h2{
	padding-bottom: 5px;
	color: #006148;
	font-weight: bold
}

.class-bloc-contenu-line img {
	display: block;
}

.class-bloc-contenu-line .attribute-photo {
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
	padding: 3px;
	background: white;
	border: 1px solid #7f65a7;
}

.class-fichier-full {
	clear: both;
	border-bottom: 1px solid #ddd6e4;
	margin: 0 10px;
	padding-bottom: 10px;
	margin-top: 10px;
}

.class-fichier-full .attribute-date-edition,
.class-fichier-full .attribute-description,
.class-fichier-full .attribute-fichier {
	display: block;
}

.class-fichier-full .attribute-date-edition {
	font-size: 95%;
	color: #3b82e5;
}

.class-fichier-full .attribute-fichier {
	padding-top: 5px;
}

.class-fichier-full .attribute-fichier img {
	display: block;
	padding: 5px;
	padding-top: 0;
	float: left;
}

.class-fichier-full a{
	display: block;
}	

.class-fichier-full a:hover {
	background-color: #ebe8f3;
}

.class-adresse-details-full{
	margin-left:10px;
	margin-bottom: 10px;
	border-bottom: 1px solid #ddd6e4;
	padding-bottom: 10px;
	position: relative;
}

.class-adresse-details-full h3 {
	margin-bottom: 5px;
	font-weight: bold;
	font-size: 130%;
	color: #006148;
}

.class-adresse-details-full .nom {
	font-size: 90%;
	font-weight: normal;
}

.class-adresse-details-full .attribute-photo{
	float: left;
	padding-right: 10px;
}

.class-adresse-details-full .attribute-photo img {
	display: block;
}

.class-adresse-details-full .content {
}

.class-adresse-details-full .coordonnees {
	color: #715C95;
	font-weight: bold;
	font-size: 95%;
}

.class-adresse-details-full .internet {
	position: absolute;
	right: 10px;
	top: 28px;
	font-size: 95%;
}

.class-adresse-details-full .internet a:hover {
	text-decoration: underline;
}

.class-adresse-details-full .description {
	text-align: justify;
	font-size: 95%;
	padding-top: 5px;
}

.class-bloc-contenu-line .attribute-texte img {
    display: inline;
}