* { /* reset all default values */
  border: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

img {
	border: none;
}

html,
body,
#outerwrapper {
	text-align: center; /* for ie */
	height: 100%;
	min-height: 100%;
}

html {
	min-width: 800px;
}

* html {
	width: 800px
}

body {
	font: small/130% "Lucida Grande", "Trebuchet MS", Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
	color: #767676;
	background: #feeeb3;
	/*background: #feeeb3 url("../../images/purple_skin/bg_pagecontent.gif") repeat-y 50%;*/
}

html>body, html>body #outerwrapper {
	height: auto;
}

body.nosidebar {
	/*background-image: url("../../images/purple_skin/bg_pagecontent_fw.gif");*/
}

#outerwrapper {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	/*background: transparent url("../../images/purple_skin/bg_logo_buoux.jpg") no-repeat 50% 0;*/
}

#wrapper {
	width: 800px;
	/*padding-top: 30px;*/
	margin: 30px auto 0;
	position: relative;
	min-height: 100%;
	height: auto !important;
	height: 100%;
	text-align: left;
}

#header {
    background: #006148;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Arial", "Helvetica", sans-serif;
  font-weight: normal;
}

a {
	text-decoration: none;
	color: #767676;
}

.break {
	clear: both;
}

/*#infobanner {
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: 50;
	width: 100%;
	background: black url("../../images/bg_infobanner.gif") repeat-x;
	padding: 20px 0;
}

#infobanner p {
	color: white;
}
*/
#lang {
	position: absolute;
	right: 0;
	top: 10px;
}

#lang li{
	display: inline;
}

#logo {
    position: absolute;
    left: -120px;
}

#logo a{
	display: block;
	width: 260px;
	height: 48px;
	margin-left: 27px;
	margin-bottom: 25px;
}

#logo img{
	
}

#teaser {
    float: right;
    
}

#menu {
    clear: both;
    float: right;
	font-size: 120%;

	font-weight: normal;
}

#menu ul li{
	display: inline;
	/*background: transparent url("../../images/purple_skin/nav_separator.gif") no-repeat 0 50%;*/
	padding: 0 10px;
	float: left;
	line-height: 40px;
}

#menu li ul li {
    line-height: normal;
}

#menu ul li.first {
	background: none;
}

#menu ul li a{
	color: #feeeb3;
	/*text-transform: capitalize;*/
}

#menu ul li a:hover{
	color: #8abc09;
}

#menu li ul {
	width: 100px;
	
}

#menu li ul li {
	display: list-item;
	list-style: none;
	background: transparent url("../../images/purple_skin/subnav_icon.gif") no-repeat 3px 50%;
	padding: 2px 10px;
	border-bottom: 1px solid #775ca6;
	background: #006148;
}

#menu li ul li a {
	font-size: 92%;
}

#menu li ul li a:hover {
	color: #ff9e00
}


#pagecontent {
	min-height: 100%;
	text-align: left;
	height: auto;
	/*position: relative;*/
	padding-bottom: 72px;
	background: #fff;
}

#footer {
	height: 50px;
	position: relative;
	top: -50px;
	background: #006148;
	width: 800px;
	padding: 10px 0;
	margin: 0 auto;
}

#footer-content {
	padding: 0 10px;
}

#footer .pnrl {
	float: left;
	margin-right: 10px;
}

#footer .copyr {
	color: #feeeb3;
	font-style: italic;
	font-size: 80%;
}

#footer .copyrclin{
	font-size: 80%;
}

#footer .copyrclin a {
	color: #feeeb3;
	text-decoration: underline;
}

body.nosidebar #maincontent {
	width: 760px
}

#maincontent {
	float: left;
	width: 548px;
	margin-top: 10px;
	margin-left: 15px;
	margin-right: 10px;
	border-right: 1px solid #b0a7c4;
}

body.nosidebar #maincontent {
    border-right: 0;
}

* html #maincontent {
	margin-left: 8px;
}

#maincontent .content {
	margin: 10px;
}

#pathbreadcumb {
	margin-bottom: 10px;
}

#pathbreadcumb ul li {
	display: inline;
	background: transparent url("../../images/purple_skin/puce_subbreadcumb.gif") no-repeat 0 50%;
	padding-left: 10px;
	font-size: 120%;
	color: #715c95;
	font-weight: bold;
}

#pathbreadcumb li.first {
	background: transparent url("../../images/purple_skin/puce_breadcumb.gif") no-repeat 0 50%;
	padding-left: 20px;
}

#pathbreadcumb li a {
	color: #006148;
	font-weight: normal;
}

#sidebar {
	margin-top: 10px;
	width: 222px;
	float: left;
}

#sidebar h2 {
	background: transparent url("../../images/purple_skin/puce_breadcumb.gif") no-repeat 0 50%;
	padding-left: 20px;
	font-size: 100%;
	font-weight: bold;
	font-size: 120%;
	color: #006148;
}

#sidebar .events span{
    color: #715c95;
}

#sidebar .events ul{
	margin-left: 10px;
}

#sidebar .events li {
	list-style: none;
	display: block;
	margin: 10px 0;
	width: 180px;
	margin-left: 13px;
	border-bottom: 1px solid #ddd6e4;
	padding-bottom: 10px;
}

#sidebar .events .date {
	color: white;
}

#sidebar .events .date .day {
	height: 15px;
	background: #00573F url("../../images/purple_skin/puce_date.gif") no-repeat 0 50%;
	display: block;
	float: left;
	font-size: 90%;
	font-weight: bold;
	line-height: 1.1em;
	padding-left: 8px;
	color: white;
}

* html #sidebar .events .date .day { /* nice for ie */
	padding-top: 2px;
	height: 13px;
}

#sidebar .events .date .before,
#sidebar .events .date .after {
	display: block;
	width: 7px;
	height: 15px;
}

#sidebar .events .date .before {
	background: transparent url("../../images/purple_skin/event_date_left.gif") no-repeat 0 0;
	float: left;
}

#sidebar .events .date .after {
	background: transparent url("../../images/purple_skin/event_date_right.gif") no-repeat 0 0;
	float: left;
}

#sidebar .events .title{
	color: #715c95;
	display: block;
	clear: both;
	padding-left: 14px;
	background: transparent url("../../images/purple_skin/icon_event.gif") no-repeat 0 50%;
	line-height: 1.5em;
}

#sidebar .events .lieu{
	clear: both;
	display: block;
	font-size: 95%;
	color: #767676;
}

#sidebar .events .category{
	clear: both;
	display: block;
	font-size: 95%;
}

#sidebar .events h2 {
	color: #006148;
}

#sidebar .events li p {
	line-height: 1.3em;
}
