/* 
 *	Horizontal, top-2-bottom
 *	- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
 *	(c) 2004 - Aleksandar Vacic, www.aplus.co.yu
 * Some rights reserved, http://creativecommons.org/licenses/by/2.0/
 *	- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
 */

/*		------	Basic style	------		*/

#menu {
	display: block;
	width: 100%;
}

#menu ul {
	margin: 0;
	padding: 0;
	border: 0;
	list-style-type: none;
	float: right;
}

#menu li {
	margin: 0;
	padding: 0;
	border: 0;
	display: block;
	float: left;
	position: relative;
}

#menu a {
	display: block;
}

#menu li li {
	width: 100%;
}

/* fix the position for 2nd level submenus. first make sure no horizontal scrollbars are visible on initial page load... */
#menu li li ul {
	top: 0;
	left: 0;
}

/* ...and then place it where it should be when shown */
#menu li li:hover ul {
	left: 100%;
}

/* initialy hide all sub menus */
#menu li ul {
	display: none;
	position: absolute;
	z-index: 10;
}

/* display them on hover */
#menu li:hover>ul {
	display: block;
}

/* this is needed if you want to style #menu div - force containment of floated LIs inside of main UL */
#menuList:after {
	content: ".";
	height: 0;
	display: block;
	visibility: hidden;
	overflow: hidden;
	clear: both;
}

/* Clear-fix for IE5/Mac \*//*/
#menu a {
	float: left;
}

#menuList {
	display: inline-block;
}
/*  */

/*		------   Make-up	--------			*/

